<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head><title>Cadastro de Corrida</title></head>
</head>
<body>
    <h1 th:text="${corrida.id == null ? 'Nova Corrida' : 'Editar Corrida'}"></h1>

    <form th:action="@{/corridas/salvar} th:object="${corrida} method="post">
        <input type="hidden" th:field="*{id}"/>
        
        <div>
            <label for="">Título:</label>
            <input type="text" th:field="*{titulo}">
            <span th:if{*fields.hasErrors('titulo')}" th:errors="*{titulo}" style="color: red;"></span>
        </div>

        <div>
            <label for="">Descrição:</label>
            <textarea name="" id="" th:field="*{descricao}"></textarea>
        </div>

        <div>
            <label for="">Tempo (segundos):</label>
            <input type="number" name="" id="" th:field="*{tempoSegundos}"/>
        </div>
        <button type="submit">Salvar Corrida</button>
        <a th:href="@{/corridas}">Cancelar</a>
    </form>
    
</body>
</html>