<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Corridas</title>
</head>
<body>
    <div></div>
    <h1></h1>
    <a href=""></a>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href=""></a>
                    <a href=""></a>
                </td>

            </tr>
        </tbody>
    </table>
    
</body>
</html>