<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Corridas</title>
</head>
<body>
    <div th:if="${mensagem}" th:text="${mensagem}" style="color: green; font-weight: bold ;"></div>
    <h1>Corridas Cadastradas</h1>

    <!-- p + a para melhorar o visual -->
    <p>    
        <a th:href="@{/corridas/nova}">+ Criar Nova Corrida</a>
</p>
    <table border="1">
        <thead>
            <!-- Utilizei o scope para melhorar a acessiblidade para deficiente visual -->
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Tempo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${corridas}">
                <td th:text="${c.titulo}"></td>
                <td th:text="${c.tempoSegundos} + 's'"></td>
                <td>
                    <a th:href="@{/corridas/{id}(id=${c.id})}">Editar</a>
                    <a th:href="@{/corridas/excluir/{id}(id=${c.id})}" onclick="return confirm('Deseja realmente excluir esta corrida?')">Excluir</a>
                </td>

            </tr>
        </tbody>
    </table>
    
</body>
</html>